<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.habitapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/habitia_icon"
        android:roundIcon="@mipmap/habitia_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HabitApp"
        android:label="@string/app_name">

    <activity
            android:name=".SignUpActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".FotoGalleryActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".DetailsActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".AddHabitActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".RankingActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".HabitsActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/LauncherFullScreen" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/LauncherFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>